<mat-toolbar>
  <span>{{title}}</span>
</mat-toolbar>

<mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
<div class="container">
  <div class="row m-4">
    <div class="col-sm">
      <mat-form-field class="example-full-width">
        <mat-label>Enter Time in mins</mat-label>
        <input [disabled]="isStarted" matInput placeholder="Ex. Pizza" [(ngModel)]="orginalVal">
      </mat-form-field>
    </div>
    <div class="col-sm">
      <button [disabled]="isStarted" (click)="start()" mat-button color="primary">Start</button>
    </div>
    <div class="col-sm">
      <button [disabled]="!isStarted" (click)="stop()" mat-button color="warn">Stop</button>
    </div>
    <div class="col-sm">
      <button (click)="reset()" mat-button color="accent">Reset</button>
    </div>
  </div>
</div>
<div class="timer-container">
  <span class="timer">{{displayTimerText}}</span>
</div>